{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站首页</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <!-- 导航栏（包括银行logo） -->
    {% include "_nav.html" %}
    <div class="container-fluid">
      <a class="background">
        <img src="{% static 'images/feature2.jpeg' %}" alt="background" width="1400" >
      </a>
    </div>
        <h1 align="center" ><font face="楷体">故 障 报 修 系 统 V1.0</font></h1>


    <!-- 表单部分 -->
      <!-- 第一行 -->
<form method="POST">
    {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-sm mt-3 mb-3" >
        <label for="organization">部室信息</label>
        <select id="organization" name="organization" class="form-control" Style="width:160px">
          <option selected>请选择...</option>
          {% for organization in organizations %}
            <option value={{ organization.id }}> {{ organization.name }} </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm mt-3 mb-3">
        <label for="number">部室门牌</label>
        <select id="number" name="number" class="form-control" Style="width:160px">
          <option selected>请选择...</option>
          {% for room in rooms %}
            <option value={{ room.id }}> {{ room.number }} </option>
          {% endfor %}
        </select>
      </div>
        <div class="col-sm mt-3 mb-3" >
         <div class="custom-control custom-checkbox mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
          <label class="custom-control-label" for="customControlAutosizing">记住我的选择</label>
        </div>
      </div>
        <div class="col-sm mt-3 mb-3" ></div>
    </div>
  
    <!-- 第二行 -->
    <div class="row mr-5">
      <div class="col-sm mt-3 mb-3" >
          <label for="reporter">报障人</label>
        <input id="reporter" name="reporter" type="text" class="form-control" Style="width:160px" >
      </div>
      <div class="col-sm" >
          <label for="telnumber">联系方式</label>
        <input id="telnumber" name="telnumber" type="text" class="form-control" Style="width:160px" >
      </div>
        <div class="col-sm mt-3 mb-3" ></div>
        <div class="col-sm mt-3 mb-3" ></div>
    </div>
  
    <!-- 第三行 -->
  <div class="row">
    <div class="col-sm mt-3 mb-3" >
      <label for="issue_subcategory">故障类型</label>
      <select name="issue_subcategory" class="form-control">
        <option selected>请选择...</option>

        {% for key, values in categories.items %}
          <optgroup label={{ key }}>
            {% for issue_subcategory in values %}
              <option value={{ issue_subcategory.id }}> {{ issue_subcategory.content }} </option>
            {% endfor %}
          </optgroup>
        {% endfor %}

      </select>
    </div>
    <div class="col-sm mt-3 mb-3" ></div>
    <div class="col-sm mt-3 mb-3" ></div>
    <div class="col-sm mt-3 mb-3" ></div>
  </diV>
  
    <!-- 第四行 -->
    <div class="col-sm mt-3 mb-3" >
      <label for="description">故障详细描述</label>
      <input id="description" name="description" type="text" class="form-control" placeholder="故障详细描述">
    </div>
  
    <button type="submit" class="btn btn-primary mt-3 mb-3 ">提交</button>

  </div>
  

</form>
    <br>
    <a href="{% url 'logout' %}">退出登录</a>
</body>
</html>
