{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交成功</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <!-- 导航栏（包括银行logo） -->
    {% include "_nav.html" %}
    <div class="container-fluid">
      <a class="background">
        < img src="{% static 'images/feature2.jpeg' %}" alt="background" width="1400" >
      </a >
    </div>
        <h1 align="center" ><font face="楷体">提 交 成 功 ！</font></h1>
</body>
</html>
